
@import "../helpers/variables";

// Global header

header {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto; 
    max-height: 4rem;
  
    ul {
      display: flex;
      padding: 1.2rem;
      li {
        margin: 0 1rem;
        a {
          color: #555;
          &:active, &:hover, &:focus {
            color: $yellow0;
          }
        }
  
        .btn {
            border: 1px solid $yellow0;
            color: $yellow0;
        }
      }
    }
  }
  
  .logo-container {
    height: 100%;
    width: 100px;
  
    img {
      height: auto;
    }
  }
   
  
  // Global Footer 
  footer {
    padding: 2.5rem 1rem 1rem 1rem;
    border-top: 1px solid #e3e3e3;
    background: #f7f7f7;
  .container {
    display: grid; 
    strong {
      font-weight: 550;
    }
    
    .links {
      display: flex;
      justify-content: space-around;
  
      ul {
        display: block;
        li {
          margin: .3rem 0;
        }
      }
    }
  
    .cpright {
      display: grid;
      justify-content: center;
    }
    p {
      opacity: .7;
    }
  }
  }