@font-face {
    src: url('../fonts/Mermaid1001.ttf'); 
    font-family: Mermaid; 
}

@font-face {
   src: url('../fonts/NgopiDoken-Regular.otf'); 
   font-family: Ngopi;  
}

* {
    margin: 0;
    padding: 0;
    font: 16px arial, sans-serif;
    outline: none;
    box-sizing: border-box;
    color: #333;
    line-height: 1.5;
    
}

a {
    text-decoration: none;
    transition: .3s;
 }

ul {
    list-style-type: none;
}

button, .btn {
    border: none; 
    padding: .5rem 1rem; 
    border-radius: 1px;
    transition: .3s;
    max-height: 40px;
    cursor: pointer;

    &:hover {
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    }
}

h1,h2,h3,h4,h5,h6 {
    font-family: Mermaid;
    font-size: 1.1rem;
    line-height: 1.3;
}

img {
    width: 100%;
    height: 100%;
}