@import "./helpers/reset";
@import "./helpers/variables";
@import "./helpers/mixins";
@import "./global/global";

.container {
  max-width: 1100px;
  margin: auto;
}

.main-home {
  section {
    margin: 5rem 0;
    width: 100%;
    position: relative;
    background: #faf9f9; 
    padding: 1rem 0.5rem;
  }
}

.title {
  max-width: 20rem;
  margin: auto;
  text-align: center;
  margin: 0 auto;

  #dot {
    margin: 0 1rem;
    width: 10px;
    height: 10px;
    background: $yellow0;
    display: inline-block;
  }
}

.sec0 {
  margin: 1.5rem 0;

  .swiper-slide {
    display: flex;
    justify-content: space-between;
    .text {
      display: block;
      max-width: 30rem;
      padding: 3rem 0 1rem 0;
    }
    h1 {
      margin: 0 0 1rem 0;
      font-size: 2.1rem;
    }

    .article-link {
      color: rgb(228, 199, 69);
      font-size: 1.2rem;
      i {
        color: rgb(228, 199, 69);
        font-weight: bold;
        font-size: 20px;
      }
    }
    .img-container {
      width: 50%;
      height: 100%;
    }
  }
}

.swiper-pagination {
  max-width: 100px;
  top: 18rem;
  span {
    border-radius: 0;
    width: 13px;
    height: 6px;
    background: $yellow0;
  }
}

// MISSION
.sec1 {
  display: grid;
  justify-content: center;
  max-width: 600px;
  margin: 2.5rem auto 3rem auto;
  background: unset;

  h2 {
    font-size: 2rem;
    text-align: center;
    text-shadow: none;
    margin: 2.5rem 0;
  }
  .numbers {
    display: flex;
    justify-content: space-between;
    h3 {
      font-size: 1.8rem;
    }
    div {
      max-width: 20rem;
      text-align: center;
    }
  }
}

// FEATURED
.sec2 {
  display: flex;
  justify-content: space-evenly;
}

.card {
  background: url("../Build/images/kids.png") no-repeat center center/cover;
  padding-top: 5rem;
  width: 280px;
  height: 300px;
  position: relative;
  transition: 0.2s;
  &:hover {
    box-shadow: -3px 0 5px 0 rgba(48, 47, 46, 0.4),
      3px 0 5px 0 rgba(48, 47, 46, 0.4);
  }
  .card-label {
    padding: 1rem;
    background: rgba(197, 149, 17, 0.7);
    position: absolute;
    bottom: 0;
    height: 100px;
    p,
    small {
      color: #fff;
      font-size: 1.055rem;
    }

    small {
      color: #e3e3e3;
      text-align: center;
      font-size: 0.9rem;
    }
  }
}

// RECENT
.sec3 {
  display: flex;
  justify-content: space-evenly;

  .second {
    margin-top: 2rem;
    width: 280px;
    height: 350px;
  }
}

// CTA SECTION
.cta {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0 1rem 0;
  h3 {
    font-size: 1.8rem;
    max-width: 50%;
  }

  .cta-btn {
    background: $yellow0;
    color: #fff;
  }
}

.main-about {
  display: grid;
  position: relative;
}

.hero {
  width: 100%;
  height: 600px;
  margin: 0.5rem 0 0 0;
  background: url("../Build/images/kid.png") no-repeat center center/cover;
  h1,
  p {
    color: #fff;
    animation: floatUp.8s linear;
  }
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    animation: floatDown.8s linear;
  }
  .container {
    max-width: 600px;
    padding-top: 3rem;
  }
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

@keyframes floatDown {
  from {
    transform: translateY(-5px);
  }
}

@keyframes floatUp {
  from {
    transform: translateY(5px);
  }
}

.grid {
  display: grid;
  .grid-0,
  .grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid-1 {
    margin-top: 0;
    grid-template-areas: "img txt";

    .img-container {
      grid-area: img;
    }

    .text {
      grid-area: txt;
    }
  }

  .text {
    max-width: 400px;
    h3 {
      font-size: 2rem;
      margin: 0 0 0.5rem 0;
    }
  }
  .img-container {
    width: 400px;
  }
}

// contact

.main-contact {
  section {
    background: unset;
  }

  .header {
    text-align: center;
    h1 {
      font-size: 2.8rem;
    }
    p {
      max-width: 50%;
      margin: 0.5rem auto;
    }
  }

  .locations {
    display: flex;
    justify-content: space-between;
    h3 {
      font-size: 1.4rem;
      margin: 0 0 0.5rem 0;
    }
    address {
      font-size: 0.9rem;
    }

    div:nth-child(1) {
      animation: floatRight.8s linear;
    }
    div:nth-child(2) {
      animation: floatLeft 0.8s linear;
    }
  }
}

@keyframes floatRight {
  from {
    transform: translateX(-10px);
  }
}

@keyframes floatLeft {
  from {
    transform: translateX(10px);
  }
}

.form {
  margin-bottom: 3rem;
  h2 {
    text-align: center;
    margin: 1rem 0;
    font-size: 2.4rem;
  }
  form {
    max-width: 450px;
    margin: 2rem auto;
    display: grid;

    input,
    textarea,
    select {
      outline: none;
      background: transparent;
      padding: 10px;
      border: 1px solid $yellow0;
      margin: 0.5rem 0;
    }
  }
}

.btn-submit {
  width: 10rem;
  justify-self: end;
  background: $yellow0;
  color: #fff;
}

// DONATIONS

.main-donations {
  .header {
    max-width: 50%;
    margin: 2rem auto;
    h1 {
      font-size: 3rem;
      margin: 0 0 0.5rem 0;
      text-align: center;
      animation: floatDown.8s linear;
    }
    p {
      margin: 1rem;
      animation: floatUp.8s linear;
    }
  }
}

.donation {
  max-width: 500px;
  height: auto;
  display: grid;
  margin: 2rem auto;
  h2 {
    font-size: 1.8rem;
    font-family: arial;
    margin: 0 0 1rem 0;
  }

  .gift-type {
    display: flex;
    margin: 1rem 0;
    justify-content: space-between;
    .btn {
      padding: 0.7rem 4rem;
    }
  }
  .btn {
    text-align: center;
    border: 1px solid $yellow0;
  }

  input[type="checkbox"] {
    display: none;
  }
}

.amount {
  padding-top: 1rem;
  h3 {
    text-align: center;
    margin-top: 1rem;
    padding: 0.5rem 0;
    font-family: Arial, Helvetica, sans-serif;

    select {
      background: unset;
      border: none;
      color: $yellow0;
    }
  }

  .options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1rem 0;

    .btn {
      padding: 0.5rem 1rem;
    }
  }

  .user {
    margin: 1rem 0;
    width: 100%;
    padding: 1rem 0 0 0;
    input {
      text-align: left;
    }
  }
}

main {
  height: 100%;
}

// ARTICLE
.main-article {
  text-align: center;
  margin: 2rem auto;
  .article-title {
    font-size: 2.5rem;
    animation: floatDown 0.8s linear;
  }
  p {
    max-width: 70%;
    margin: 1rem auto;
    word-break: break-all;
    animation: floatUp 0.8s linear;
  }
  .img-containers {
    display: flex;
    justify-content: space-evenly;

    div {
      max-width: 350px;
      animation: floatRight 0.8s linear;
    }
    div:nth-child(2) {
      animation: floatLeft 0.8s linear;
    }
  }
}

#mobile-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background: #f2f2f2;
  border-top: 2px solid #d5d5d5;
  display: none;
  z-index: 100;
  ul {
    display: flex;
    justify-content: space-evenly;
    li {
      margin: 0 0.5rem;
    }
  }
}

#small-screen-cta {
  max-height: 2.5rem;
  display: none;
  button {
    background: unset;
    border: 1px solid $yellow0;
    color: $yellow0;
    margin: 0.3rem 0 0 0;
  }
}

// MOBILE VERSION

@media screen and (max-width: 730px) {
  * {
    font-size: 16px;
  }

  body {
    height: 100%;
  }
  header {
<<<<<<< HEAD
    justify-content: space-around;
    padding: 0.3rem;
=======
    justify-content: space-between;
    padding: .5rem;
>>>>>>> fix
    ul {
      display: none;
    }
  }

  #small-screen-cta {
    display: block;
  }

  #mobile-nav {
    display: block;
  }

<<<<<<< HEAD
  .main-home {
    .title {
      font-size: 0.9rem;
      #dot {
        width: 7px;
        height: 7px;
      }
    }
  }

  // SEC0
  .sec0 {
=======
.main-home { 
  .title { 
    font-size: .9rem;
    #dot { 
      width: 7px;
      height: 7px; 
  }}
}

  // SEC0
  .sec0 {  
>>>>>>> fix
    .swiper-slide {
      .text {
        padding: 0;
      }
      h1 {
        margin: 0 0 0.1rem 0;
        font-size: 1.2rem;
      }
      .article-link {
        font-size: 0.9rem;
      }
      .img-container {
        width: 100%;
      }
    }
    .swiper-pagination {
      max-width: 100px;
      top: 8rem;
    }
  }

  // SEC1
  .sec1 {
    max-width: 100%;

    h2 {
      font-size: 1.2rem;
      text-align: center;
      text-shadow: none;
      margin: 2.5rem 0;
    }
    .numbers {
      h3 {
        font-size: 1.2rem;
      }
      p {
        font-size: 0.9rem;
        margin: 0.5rem;
      }
    }
  }

  // SEC2
  .sec2,
  .sec3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    justify-items: center;
    grid-gap: 2rem;
  }
  // SEC3
  .sec3 {
    margin-top: 5rem;
    .second {
      margin-top: 0;
      width: 280px;
      height: 300px;
    }
  }
}
<<<<<<< HEAD
=======

@media screen and (max-width: 450px){
  .swiper-pagination {
     width: 100%;
    top: 8rem; 
    margin-left: 10rem;
  }
}


 
>>>>>>> fix
