@font-face {
  src: url("../fonts/Mermaid1001.ttf");
  font-family: Mermaid;
}

@font-face {
  src: url("../fonts/NgopiDoken-Regular.otf");
  font-family: Ngopi;
}

* {
  margin: 0;
  padding: 0;
  font: 17px arial, sans-serif;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #333;
  line-height: 1.5;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

ul {
  list-style-type: none;
}

button,
.btn {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  max-height: 40px;
  cursor: pointer;
}

button:hover,
.btn:hover {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Mermaid;
  font-size: 1.1rem;
  line-height: 1.3;
}

img {
  width: 100%;
  height: 100%;
}

html {
  height: 100%;
  width: 100%;
  position: relative;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1100px;
  margin: auto;
  max-height: 4rem;
  background: #fff;
  z-index: 50;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.2rem;
}

header ul li {
  margin: 0 1rem;
}

header ul li a {
  color: #555;
}

header ul li a:active, header ul li a:hover, header ul li a:focus {
  color: #e7b837;
}

header ul li .btn {
  border: 1px solid #e7b837;
  color: #e7b837;
}

.logo-container {
  height: 90%;
  width: 80px;
}

.logo-container img {
  height: auto;
}

footer {
  padding: 2.5rem 1rem 1rem 1rem;
  border-top: 1px solid #e3e3e3;
  background: #f7f7f7;
}

footer .container {
  display: -ms-grid;
  display: grid;
}

footer .container strong {
  font-weight: 550;
}

footer .container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .container .links ul {
  display: block;
}

footer .container .links ul li {
  margin: 0.3rem 0;
}

footer .container .cpright {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .container p {
  opacity: 0.7;
  width: 20rem;
}

.container {
  max-width: 1100px;
  margin: auto;
}

.main-home section {
  margin: 2.5rem 0;
  width: 100%;
  position: relative;
  background: #faf9f9;
  max-height: 400px;
  padding: 1rem 0.5rem;
}

.title {
  max-width: 20rem;
  margin: auto;
  text-align: center;
}

.title #dot {
  margin: 0 1rem;
  width: 10px;
  height: 10px;
  background: #e7b837;
  display: inline-block;
}

.sec0 {
  margin: 1.5rem 0;
}

.sec0 .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sec0 .swiper-slide .text {
  display: block;
  max-width: 30rem;
  padding: 3rem 0 1rem 0;
}

.sec0 .swiper-slide h1 {
  margin: 0 0 1rem 0;
  font-size: 2.1rem;
}

.sec0 .swiper-slide .article-link {
  color: #e4c745;
  font-size: 1.2rem;
}

.sec0 .swiper-slide .article-link i {
  color: #e4c745;
  font-weight: bold;
  font-size: 20px;
}

.sec0 .swiper-slide .img-container {
  width: 50%;
  height: 100%;
}

.swiper-pagination {
  max-width: 100px;
  top: 20rem;
}

.swiper-pagination span {
  border-radius: 0;
  width: 13px;
  height: 6px;
  background: #e7b837;
}

.sec1 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 600px;
  margin: 2.5rem auto 3rem auto;
  background: unset;
}

.sec1 h2 {
  font-size: 2rem;
  text-align: center;
  text-shadow: none;
  margin: 2.5rem 0;
}

.sec1 .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sec1 .numbers h3 {
  font-size: 1.8rem;
}

.sec1 .numbers div {
  max-width: 20rem;
  text-align: center;
}

.sec2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card {
  background: url("../Build/images/kids.png") no-repeat center center/cover;
  padding-top: 5rem;
  width: 280px;
  height: 300px;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-box-shadow: -3px 0 5px 0 rgba(48, 47, 46, 0.4), 3px 0 5px 0 rgba(48, 47, 46, 0.4);
          box-shadow: -3px 0 5px 0 rgba(48, 47, 46, 0.4), 3px 0 5px 0 rgba(48, 47, 46, 0.4);
}

.card .card-label {
  padding: 1rem;
  background: rgba(197, 149, 17, 0.7);
  position: absolute;
  bottom: 0;
  height: 100px;
}

.card .card-label p,
.card .card-label small {
  color: #fff;
  font-size: 1.055rem;
}

.card .card-label small {
  color: #e3e3e3;
  text-align: center;
  font-size: 0.9rem;
}

.sec3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sec3 .second {
  margin-top: 2rem;
  width: 280px;
  height: 350px;
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 2rem 0 1rem 0;
}

.cta h3 {
  font-size: 1.8rem;
  max-width: 50%;
}

.cta .cta-btn {
  background: #e7b837;
  color: #fff;
}

.main-about {
  display: -ms-grid;
  display: grid;
  position: relative;
}

.hero {
  width: 100%;
  height: 600px;
  margin: 0.5rem 0 0 0;
  background: url("../Build/images/kid.png") no-repeat center center/cover;
}

.hero h1,
.hero p {
  color: #fff;
  -webkit-animation: floatUp 0.8s linear;
          animation: floatUp 0.8s linear;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  -webkit-animation: floatDown 0.8s linear;
          animation: floatDown 0.8s linear;
}

.hero .container {
  max-width: 600px;
  padding-top: 3rem;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

@-webkit-keyframes floatDown {
  from {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes floatDown {
  from {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@-webkit-keyframes floatUp {
  from {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes floatUp {
  from {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid .grid-0,
.grid .grid-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.grid .grid-1 {
  margin-top: 0;
      grid-template-areas: "img txt";
}

.grid .grid-1 .img-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
}

.grid .grid-1 .text {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: txt;
}

.grid .text {
  max-width: 400px;
}

.grid .text h3 {
  font-size: 2rem;
  margin: 0 0 0.5rem 0;
}

.grid .img-container {
  width: 400px;
}

.main-contact section {
  background: unset;
}

.main-contact .header {
  text-align: center;
}

.main-contact .header h1 {
  font-size: 2.8rem;
}

.main-contact .header p {
  max-width: 50%;
  margin: 0.5rem auto;
}

.main-contact .locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-contact .locations h3 {
  font-size: 1.4rem;
  margin: 0 0 0.5rem 0;
}

.main-contact .locations address {
  font-size: 0.9rem;
}

.main-contact .locations div:nth-child(1) {
  -webkit-animation: floatRight 0.8s linear;
          animation: floatRight 0.8s linear;
}

.main-contact .locations div:nth-child(2) {
  -webkit-animation: floatLeft 0.8s linear;
          animation: floatLeft 0.8s linear;
}

@-webkit-keyframes floatRight {
  from {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@keyframes floatRight {
  from {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@-webkit-keyframes floatLeft {
  from {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes floatLeft {
  from {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.form {
  margin-bottom: 3rem;
}

.form h2 {
  text-align: center;
  margin: 1rem 0;
  font-size: 2.4rem;
}

.form form {
  max-width: 450px;
  margin: 2rem auto;
  display: -ms-grid;
  display: grid;
}

.form form input,
.form form textarea,
.form form select {
  outline: none;
  background: transparent;
  padding: 10px;
  border: 1px solid #e7b837;
  margin: 0.5rem 0;
}

.btn-submit {
  width: 10rem;
  -ms-grid-column-align: end;
      justify-self: end;
  background: #e7b837;
  color: #fff;
}

.main-donations .header {
  max-width: 50%;
  margin: 2rem auto;
}

.main-donations .header h1 {
  font-size: 3rem;
  margin: 0 0 0.5rem 0;
  text-align: center;
  -webkit-animation: floatDown 0.8s linear;
          animation: floatDown 0.8s linear;
}

.main-donations .header p {
  margin: 1rem;
  -webkit-animation: floatUp 0.8s linear;
          animation: floatUp 0.8s linear;
}

.donation {
  max-width: 500px;
  height: auto;
  display: -ms-grid;
  display: grid;
  margin: 2rem auto;
}

.donation h2 {
  font-size: 1.8rem;
  font-family: arial;
  margin: 0 0 1rem 0;
}

.donation .gift-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.donation .gift-type .btn {
  padding: 0.7rem 4rem;
}

.donation .btn {
  text-align: center;
  border: 1px solid #e7b837;
}

.donation input[type="checkbox"] {
  display: none;
}

.amount {
  padding-top: 1rem;
}

.amount h3 {
  text-align: center;
  margin-top: 1rem;
  padding: 0.5rem 0;
  font-family: Arial, Helvetica, sans-serif;
}

.amount h3 select {
  background: unset;
  border: none;
  color: #e7b837;
}

.amount .options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin: 1rem 0;
}

.amount .options .btn {
  padding: 0.5rem 1rem;
}

.amount .user {
  margin: 1rem 0;
  width: 100%;
  padding: 1rem 0 0 0;
}

.amount .user input {
  text-align: left;
}

main {
  height: 100%;
}

.main-article {
  text-align: center;
  margin: 2rem auto;
}

.main-article .article-title {
  font-size: 2.5rem;
  -webkit-animation: floatDown 0.8s linear;
          animation: floatDown 0.8s linear;
}

.main-article p {
  max-width: 70%;
  margin: 1rem auto;
  word-break: break-all;
  -webkit-animation: floatUp 0.8s linear;
          animation: floatUp 0.8s linear;
}

.main-article .img-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-article .img-containers div {
  max-width: 350px;
  -webkit-animation: floatRight 0.8s linear;
          animation: floatRight 0.8s linear;
}

.main-article .img-containers div:nth-child(2) {
  -webkit-animation: floatLeft 0.8s linear;
          animation: floatLeft 0.8s linear;
}

#mobile-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background: #f2f2f2;
  border-top: 2px solid #d5d5d5;
  display: none;
  z-index: 100;
}

#mobile-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#mobile-nav ul li {
  margin: 0 0.5rem;
}

#small-screen-cta {
  max-height: 2.5rem;
  display: none;
}

#small-screen-cta button {
  background: unset;
  border: 1px solid #e7b837;
  color: #e7b837;
  margin: 0.3rem 0 0 0;
}

@media screen and (max-width: 730px) {
  * {
    font-size: 16px;
  }
  body {
    height: 100%;
  }
  header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0.3rem;
  }
  header ul {
    display: none;
  }
  #small-screen-cta {
    display: block;
  }
  #mobile-nav {
    display: block;
  }
  .main-home .title {
    font-size: 0.9rem;
  }
  .main-home .title #dot {
    width: 7px;
    height: 7px;
  }
  .sec0 .swiper-slide .text {
    padding: 0;
  }
  .sec0 .swiper-slide h1 {
    margin: 0 0 0.1rem 0;
    font-size: 1.2rem;
  }
  .sec0 .swiper-slide .article-link {
    font-size: 0.9rem;
  }
  .sec0 .swiper-slide .img-container {
    width: 100%;
  }
  .sec0 .swiper-pagination {
    max-width: 100%;
    top: 8rem;
  }
  .sec1 {
    max-width: 100%;
  }
  .sec1 h2 {
    font-size: 1.2rem;
    text-align: center;
    text-shadow: none;
    margin: 2.5rem 0;
  }
  .sec1 .numbers h3 {
    font-size: 1.2rem;
  }
  .sec1 .numbers p {
    font-size: 0.9rem;
    margin: 0.5rem;
  }
  .sec2,
  .sec3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    grid-gap: 2rem;
  }
  .sec3 {
    margin-top: 5rem;
  }
  .sec3 .second {
    margin-top: 0;
    width: 280px;
    height: 300px;
  }
}
/*# sourceMappingURL=main.css.map */