@import "./helpers/reset";
@import "./helpers/variables";
@import "./helpers/mixins";
@import "./global/global";

html,
body {
  height: 100%;
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: auto;
}

main {
  section {
    margin: 2.5rem 0;
    width: 100%;
    position: relative;
    background: #faf9f9;
     max-height: 400px;
     padding: 1rem .5rem;
   }
}

.title {
  max-width: 20rem;
  margin: auto;
  text-align: center;
  #dot {
    margin: 0 1rem;
    width: 10px;
    height: 10px;
    background: $yellow0;
    display: inline-block;
  }
}


.sec0 {
  margin: 1.5rem 0;
   

  .swiper-slide {
    display: flex;
    justify-content: space-between;
    .text {
      display: block;
      max-width: 30rem;
      padding: 3rem 0 1rem 0;
    }
    h1 {
      margin: 0 0 1rem 0;
      font-size: 2.1rem;
    }

    .article-link {
      color: rgb(228, 199, 69);
      font-size: 1.2rem;
      i {
        color: rgb(228, 199, 69);
        font-weight: bold;
        font-size: 20px;
      }
    }
    .img-container {
      width: 50%;
      height: 100%;
    }
  }
}

.swiper-pagination {
  max-width: 100px;
  top: 20rem;
  span {
    border-radius: 0;
    width: 13px;
    height: 6px;
    background: $yellow0;
  }
}

// MISSION
.sec1 {
  display: grid;
  justify-content: center;
  max-width: 600px;
  margin: 2.5rem auto 3rem auto;
  background: unset;

  h2 {
    font-size: 2rem;
    text-align: center;
    text-shadow: none;
    margin: 2.5rem 0;
  }
  .numbers {
    display: flex;
    justify-content: space-between;
    h3 {
      font-size: 1.8rem;
    }
    div {
      max-width: 20rem;
      text-align: center;
    }
  }
}

// FEATURED
.sec2 { 
  display: flex;
  justify-content: space-evenly;
}

.card {
  background: url('../Build/images/kids.png') no-repeat center center/cover;
  padding-top: 5rem; 
  width: 280px;
  height: 300px;
  position: relative;
  transition: .2s;
  &:hover {
    box-shadow: -3px 0 5px 0 rgba(48, 47, 46, 0.4),
    3px 0 5px 0 rgba(48, 47, 46, 0.4);
  }
  .card-label { 
    padding: 1rem;
    background: rgba(197, 149, 17, 0.7); 
    position: absolute;
    bottom: 0;
    height: 100px;
    p, small {
      color: #fff;
      font-size: 1.055rem; 
    }

    small {
      color: #e3e3e3;
      text-align: center;
      font-size: .9rem;
    }
  }
}

// RECENT 
.sec3 {
  display: flex;
  justify-content: space-evenly;

  .second {
    margin-top: 2rem;
    width: 280px;
    height: 350px; 
  }
}

// CTA SECTION
.cta {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0 1rem 0;
  h3 {
    font-size: 1.8rem;
    max-width: 50%; 
  }

  .cta-btn {
    background: $yellow0;
    color: #fff;
  }
}

footer {
  padding: 2.5rem 1rem 1rem 1rem;
  border-top: 1px solid #e3e3e3;
  background: #f7f7f7;
.container {
  display: grid; 
  strong {
    font-weight: 550;
  }
  
  .links {
    display: flex;
    justify-content: space-around;

    ul {
      display: block;
      li {
        margin: .3rem 0;
      }
    }
  }

  .cpright {
    display: grid;
    justify-content: center;
  }
  p {
    opacity: .7;
  }
}
}